* {
    box-sizing: border-box;
    text-align: center;
}

ul {
    list-style: none;
}

.links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    font-size: 20px;
    color: blue;
}

a:hover {
    font-size: 22px;
    color: blue;
}

a:visited {
    font-size: 20px;
    color: crimson;
}